@model List<Site.Storage.Models.CommentEntity>
@*@section MetaTags
{
    @Html.Partial("_DefaultMetaTags")
}*@




@*@if (@Model != null)
{*@
    @foreach (var votersComment in Model)
    {
        <p>@votersComment.Comment</p>
    }
@*}*@

<p>Hello there.</p>