/* {
    border:dashed 2px black;

}*/

/* LAYOUT - Affects Layout.cshtml and other site-wide styling*/

body
{
    margin:0px;
}

* {
    font-family: 'Segoe WP SemiLight';
    color: #060606;
}

.Logo {
    background: url('../Images/VPlogoVec.svg') no-repeat;
    display: block;
    width: 800px;
    height: 125px;
    margin-left:-100px;
    margin-bottom: -25px;
    background-position: center;
    background-size: 80%;

}

.Logo:hover {
    background: url('../Images/VPlogoVecHov.svg') no-repeat;
    display: block;
    min-width: 800px;
    height: 125px;
    margin-left:-100px;
    margin-bottom: -25px;
    background-position: center;
    background-size: 80%;
    }

/*Fixes logo animation flicker by preloading hover .svg*/
.logo-load {background: url('../Images/VPlogoVecHov.svg')

}

.navbar {
    height: 45px;
    width: 100%;
    min-width: 1000px;
    background: #FFd1d1;
    border: .25em solid #060606;
    border-right: none;
    border-left:none;
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    height: 45px;
    display: inline-block;
    margin: -3px 0px 0px 0px;
    border: 3px solid #060606;
    border-radius: 11px;
    border-left: none;
    border-right: none;
    position: page;
}

.navbar-link:hover {
    background-color: #ff6e7f;
}

/*  (Button push-in effect) Not sure about atm so leaving out
    .navbar-link:active {
    background-color: #f51212;
    height:45px;
    border: 3px solid #060606;
    margin: -3px 0px 0px 0px;
    padding: 0 -2px 0 -2px;
}*/

#CreateButton {
    float: left;
    margin-left: 20px;
}

#SearchButton {
    float: right;
    margin-right: 20px;
}

.navbar-link-text {
    margin: 10px 4px 13px;
    text-align:center;
    font-family:Verdana;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-shadow:
        -1px -1px 0px #060606,
         0px -1px 0px #060606,
         1px -1px 0px #060606,
        -1px  0px 0px #060606,
         1px  0px 0px #060606,
        -1px  1px 0px #060606,
         0px  1px 0px #060606,
         1px  1px 0px #060606;
}

.page-headings {
    margin: 20px 0px 20px 50px;
    min-width: 600px;

}

/* Index Page Stuff*/

.IndexStoryLinks {
    height: 320px;
    max-width: 800px;
    min-width: 775px;
    border: 3px dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    margin: 30px auto 0px auto;
    margin-bottom: 45px;
    display: block;
}

.IndexStoryLinks:hover {
    background: #fafafa;

}

.IndexStoryTitles {
    display:inline-block;
    height: 15px;
    width: 400px;
    margin:0px 0px 0px 35px;
    font-size:25px;
    font-weight:900;
    color: #060606;
    vertical-align: middle;
}

.IndexStoryTitles:hover {
    display:inline-block;
    height: 15px;
    width: 425px;
    margin:0px 0px 0px 35px;
    font-size:25px;
    font-weight:900;
    color: #060606;
    text-decoration: underline;
    vertical-align: middle;
}

.IndexStoryPics {
    display: inline-block;
    float: left;
    margin: 35px 0px 0px 35px;
    height: 200px;
    width: 390px;
    resize: both
 }

.IndexStoryCharts {
    display: inline-block;
    float: right;
    margin: 15px 40px 0px 0px;
    /*background: url('../Images/JsChartMock1.jpg');*/
    border-radius: 100%;
    height: 290px;
    width: 295px;

}

.IndexStoryCharts:hover {
    display: inline-block;
    float: right;
    margin: 15px 40px 0px 0px;
    background-image: url('../Images/JsChartMock1Hover.jpg');
    height: 290px;
    width: 295px;

}

/*Story Page Stuff*/
.story-width {
    min-width: 1200px;
}

.story-headings {
    font-size: 40px;
    margin: 20px 0px 20px 50px;
}

.story-date {
    float: right;
    margin: -48px 5px 0px 0px;
}

.story-pic {
    display: inline-block;
    float: left;
    margin: 10px 0px 0px 50px;
    height: 370px;
    width: 550px;
 }

.story-pic-caption {
    color: #808080;
    font-size: 14.5px;
    font-weight:500;
    display: block;
    clear:both;
    float:left;
    margin: 1px 0px 0px 50px;

}

.story-chart {
    display: inline-block;
    float: left;
    margin: 5.5px 6px 0px -5px;
    /*background: url('../Images/JsChartMock1.jpg');*/
    border-radius: 100%;
    height: 350px;
    width: 363px;
}

.story-votebuttons-title {
     margin: 10px 10px 0px -10px;

}

.story-votebuttons {
    display:block;
    float:left;
    padding: 0px 0px 17px 30px;
    margin: 50px 0px 0px -130px;
    width: 80px;
    border: .25em dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 27px;
}

.story-votebuttons:hover {
    background: #fafafa;
}

.story-chart-box {
    margin: 10px 0px 0px 25px;
    height:362px;
    min-width:490px;
    border: .25em dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    display: block;
    float:left;
    position:static;
}

.story-content {
    clear:both;
    width:750px;
    margin: 0px 250px 100px 50px;
    padding:  10px 0px 0px 0px;
}




