/* {
    border:dashed 2px black;

}*/

/* LAYOUT - Affects Layout.cshtml and other site-wide styling*/

body {
    margin:0px;
}

* {
    font-family: 'Segoe WP SemiLight';
    color: #060606;
}

a {
    color: #422dff;
}

.Logo {
    background: url('../Images/VPlogoVec.svg') no-repeat;
    display: block;
    width: 800px;
    height: 125px;
    margin-left:-100px;
    margin-bottom: -25px;
    background-position: center;
    background-size: 80%;

}

.Logo:hover {
    background: url('../Images/VPlogoVecHov.svg') no-repeat;
    display: block;
    min-width: 800px;
    height: 125px;
    margin-left:-100px;
    margin-bottom: -25px;
    background-position: center;
    background-size: 80%;
    }

/*Fixes logo animation flicker by preloading hover .svg*/
.logo-load {background: url('../Images/VPlogoVecHov.svg')

}

.navbar {
    height: 45px;
    width: 100%;
    min-width: 1000px;
    background: #FFd1d1;
    border: .25em solid #060606;
    border-right: none;
    border-left:none;
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    height: 45px;
    display: inline-block;
    margin: -3px 0px 0px 0px;
    border: 3px solid #060606;
    border-radius: 11px;
    border-left: none;
    border-right: none;
    position: page;
}

.navbar-link:hover {
    background-color: #ff6e7f;
}

/*  (Button push-in effect) Not sure about atm so leaving out
    .navbar-link:active {
    background-color: #f51212;
    height:45px;
    border: 3px solid #060606;
    margin: -3px 0px 0px 0px;
    padding: 0 -2px 0 -2px;
}*/

#CreateButton {
    float: left;
    margin-left: 20px;
}

#SearchButton {
    float: right;
    margin-right: 20px;
}

.navbar-link-text {
    margin: 10px 4px 13px;
    text-align:center;
    font-family:Verdana;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-shadow:
        -1px -1px 0px #060606,
         0px -1px 0px #060606,
         1px -1px 0px #060606,
        -1px  0px 0px #060606,
         1px  0px 0px #060606,
        -1px  1px 0px #060606,
         0px  1px 0px #060606,
         1px  1px 0px #060606;
}

.page-headings {
    margin: 10px 0px 20px 50px;
    min-width: 600px;

}

/* Index Page Stuff*/

.index-links {
    text-decoration:none;
    height: 260px;
    max-width: 560px;
    min-width: 535px;
    border: 3px dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    margin: -10px auto 0px auto;
    margin-bottom: 45px;
    display: block;
}

.index-links:hover {
    background: #fafafa;
}

.index-titles {
    display:inline-block;
    height: 90px;
    margin:0px 0px 0px 30px;
    font-size:22px;
    font-weight:900;
    color: #060606;
    overflow:hidden;
}


.index-titles:hover {
    text-decoration:underline;
    display:inline-block;
    height: 90px;
    margin:0px 0px 0px 30px;
    font-size:22px;
    font-weight:900;
    color: #060606;
    overflow:hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp:hover {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.index-pic {
    display: inline-block;
    float: left;
    margin: 25px 0px -20px 30px;
    height: 165px;
    width: 250px;
}

.index-chart {
    display: inline-block;
    float: right;
    height:240px;
    width: 240px;
    margin: 5px 2px 0 -5px;
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();

}

/*Story Page Stuff*/
.story-width {
    min-width: 1200px;
}

.story-headings {
    display: block;
    font-size: 40px;
    margin: 20px 0px 20px 50px;
}

.story-date {
    float: right;
    margin: -48px 5px 0px 0px;
}

.story-pic {
    display: inline-block;
    float: left;
    margin: 10px 0px 0px 50px;
    height: 370px;
    width: 550px;
 }

.story-pic-caption {
    color: #808080;
    font-size: 14.5px;
    font-weight:500;
    display: block;
    clear:both;
    float:left;
    margin: 2px 0px 0px 49px;

}

.story-chart {
    display: inline-block;
    float: left;
    margin: 5.5px 6px 0px -5px;
    border-radius: 100%;
    height: 350px;
    width: 363px;
}

.story-votebuttons-title {
     margin: 10px 10px 0px -10px;

}

.story-votebuttons {
    display:block;
    float:left;
    padding: 0px 0px 17px 30px;
    margin: 50px 0px 0px -130px;
    width: 80px;
    border: .25em dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 27px;
}

.story-votebuttons:hover {
    background: #fafafa;
}

.story-chart-box {
    margin: 10px 0px 0px 25px;
    height:362px;
    min-width:490px;
    border: .25em dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    display: block;
    float:left;
    position:static;
}

.story-content {
    clear:both;
    width:750px;
    margin: 0px 250px 100px 50px;
    padding:  10px 0px 0px 0px;
}

/* CREATE Page */
.create-intro {
    margin: 0px 150px 0px 80px;
}

.create-form-box {
    margin: 0px 0px 0px 90px;
    padding: 35px;
    max-width:490px;
    border: .25em dashed #060606;
    border-left: none;
    border-right: none;
    border-radius: 30px;
}

.create-form-headings {
    font-weight:bolder;
    float:left;
    clear:left;
    margin-right: 10px;
}

.create-form-pollOptions-boxes {
    width:156px;
}

.create-form-addMoreOptions {
    display: block;
    margin-bottom: 5px;
}

.create-form-uploadImage-box {
    height: 266px;
    margin: 40px 0px 0px 0px;
}
.create-form-uploadPreview {
    min-width: 239px;
    max-width:379px;
    min-height: 239px;
    cursor: pointer;
    background: url('../Images/1352236885442170385Add Symbol.svg.hi.png') no-repeat 239px;
    background-size:50%;
    background-position:center;
}

.create-form-uploadPreview-box {
    width: 239px;
    margin-bottom:20px;
    float:left;
}

.create-form-ImageCaption-box {
}

/*Styles Title textBox*/
#Title {
    width: 300px;
}

/*Styles ImageCaption textBox*/
#ImageCaption{
    min-width: 300px;
}
.create-form-descriptions {
    margin: 0px 0px 40px 0px;
}

.create-form-voting-box {
    margin: 30px 0px 30px 0px;
    padding-top:10px;
    border-radius: 19px;
    border-left:none;
    border-right:none;
    margin-bottom:10px;
}

::-webkit-input-placeholder {
   font-size: 16px;
   padding: 0px 0px 02px 0px;
   height: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
   padding: 0px 0px 02px 0px;
   height: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
   padding: 0px 0px 02px 0px;
   height: 20px;
}

:-ms-input-placeholder {
   font-size: 16px;
   padding: 0px 0px 02px 0px;
   height: 20px;
}



/* Affects all inputs with type="text", only way to style 'addOptions' */
input[type="text"] {
    min-width: 150px;
    height: 21px;
    margin: -2px 5px 10px 5px;
    padding: 0px 0px 02px 05px;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    font-size: 16px;
}

#Content {
    min-width:500px;
    min-height:200px;
}





