@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

@section MetaTags
{
    <meta property="title" content="Got questions? Get Answers." />
    <meta property="description" content="With VOXPOP you can write stories on issues that are important to you and get feedback from readers." />
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
