@model Site.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section MetaTags
{
    <meta property="title" content="Got questions? Get Answers." />
    <meta property="description" content="With VOXPOP you can write stories on issues that are important to you and get feedback from readers." />
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_RegisterFormPartial")