@model Site.ViewModels.BlogViewModel

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @name = "blogForm", enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <fieldset id="pollOptions">
        <label for="pollOptions">Poll Options</label>
        <input name="pollOptions" type="text" />
        <input name="pollOptions" type="text" />
    </fieldset>
    <span onclick="AddOption()">Add more options...</span>
    <input name="image" type="file" />
    <input type="submit"/>
}

<script>
    var AddOption = function () {
        var newOption = document.createElement("input");
        newOption.setAttribute("name", "pollOptions");
        newOption.setAttribute("type", "text");
        document.getElementById("pollOptions").insertAdjacentElement("beforeend", newOption);
    }
</script>

