@using Site.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Welcome To VOXPOP";
}

@section MetaTags
{
    @Html.Partial("_DefaultMetaTags")
}

<h1 class="page-headings">Welcome To VOXPOP</h1>

<div class="splash-page-blurb-box">
    <h3>Got questions? Get answers.</h3>

    <h3>With VOXPOP you can write Stories on issues that are important to you and get feedback from readers.</h3>

    <h3>Signup and you’ll be able to view and Vote on all the Stories on VOXPOP.</h3>
</div>

<div class="splash-page-reg-box">
    @Html.Partial("_RegisterFormPartial", new RegisterViewModel())
</div>
