@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to VoxPop</h2>
    <p>
        Click @Html.ActionLink("Here", "Index", "Blog") to see what's being discussed or @Html.ActionLink("Here", "Create", "Blog") to make your own contribution.
    </p>
</div>