@model IEnumerable<Site.Models.BlogPostEntity>
@{
    ViewBag.Title = "Index";
}

<h1 class="PageHeadings">Top Stories</h1>


@if (@Model != null)
{
    foreach (var blogPost in Model)
    {
        <div>
            <a href="@Url.Action("Story", "Home", new { rowKey = blogPost.RowKey, partitionKey = blogPost.PartitionKey }, null)" class="IndexStoryLinks">
            <div>
                <img src="~/Images/Legalize.jpg" class="IndexStoryPics">
            </div>
            <div>
                <img src="~/Images/JsChartMock1.jpg" class="IndexStoryCharts">
            </div>
            <p class="IndexStoryTitles">@blogPost.BlogTitle</p>
            </a>
        </div>
    }
}