@model IEnumerable<Site.Models.BlogPostEntity>
@{
    ViewBag.Title = "Index";
}

<h1 class="PageHeadings">Top Stories</h1>


@if (@Model != null)
{
    foreach (var blogPost in Model)
    {
        <div class="IndexStoryLinks">
            <a href="@Url.Action("Story", "Home", new { rowKey = blogPost.RowKey, partitionKey = blogPost.PartitionKey }, null)">
                <div><a class="IndexStoryPics"></a></div>
                <div><a class="IndexStoryCharts"></a></div>
                <h2 class="IndexStoryTitles">@Html.ActionLink(blogPost.BlogTitle, "Story", "Home", new { rowKey = blogPost.RowKey, partitionKey = blogPost.PartitionKey }, null)</h2>
            </a>
        </div>
    }
}
        
