
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>Search VoxPop by typing your search after the "site:www.voxpop.com" in google, <a href="https://www.google.co.uk/webhp?sourceid=chrome-instant&rlz=1C1OPRB_enGB508GB508&ion=1&espv=2&ie=UTF-8#q=site%3Avoxpop.com">here.</a></p>